.login-container {
  display: flex;
  height: 100vh;
  margin: 0;
}

.login-form {
  flex: 1;
  max-width: 20%;
  padding: 40px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-image {
  flex: 2;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eef2f3;
  height: 100%;
}

.login-image img {
  max-width: 100%;
  height: auto;
  background-size: cover;
  flex-grow: 1;
}

.form-group {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}



.toggle-button {
  margin-top: 20px;
  background-color: transparent;
  color: #007bff;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.toggle-button:hover {
  color: #c4ccdc;
}

